/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

 body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    padding: 10px 17px 6px 14px;

}
#menu-bar{
    display: inline;
    float: left;
}
#menu {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin: 8px 0 0 2px;
}

.bar {
    height: 1px;
    width: 85%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.5s ease;
}

#lijn1{
    transform: translateY(2px);   
}

#lijn2 {
    transform: translateY(10px);
}

#lijn3 {
    transform: translateY(18px);
}

.change .bar {
    background-color: blueviolet;
}

.change #lijn1{
    transform: translateY(12px) rotateZ(-45deg);
}

.change #lijn3{
    transform: translateY(10px) rotateZ(45deg);
}

.change #lijn2{
    opacity: 0;
}


li {
    display: inline;
    font-family: 'raleway';
    font-size: 8pt;
    float: left;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    margin: 9px 0 10px 10px;
}


.leftnav {
    float: left;
}

.logo   {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 2px;
}

.rightnav {
    float: right;
}

main {
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.9pt;
    line-height: 1.4;
    padding-top: 4px;
    padding-bottom: 3px;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 12.2pt;
    padding-bottom: 22px;
    color:  #333333;
}

article {
    padding-bottom: 30px;
}

article a {
    text-decoration: none;
    color: black;
}

.button a{
    justify-content: center;
}
.button {
    background-color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    outline:none;
    appearance:none;
}

.button:hover {
    cursor:pointer;
    background-color: whitesmoke;
}

button:focus {
    background-color: lightsteelblue;
    text-decoration: underline;
}

button:active {
    background-color: mediumpurple;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.container article {
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1px;
    grid-template-rows: min-content min-content;
    padding: 0.5em 0;
    
}

.container article img {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    display: block;
}


.container article h1 {
    font-size: 8pt;
    justify-self: center;
    align-self: start;
    text-align: center;
    
}

.container p {
    font-size: 9pt;
    align-self: end;
    padding:0;
}

footer {
    border-top: 1px solid lightgrey;
}

h2, h3 {
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    margin: 13px;
    text-decoration: none;
}

form {
    text-align: center;
    font-size: 5pt;
}

input {
    width: 88%;
    padding: 8px;
    font-size: 8pt;
    color: darkgray;
}

.socials {
   text-align: center;
    padding-top: 14px;
}

.socials img {
    margin: 0 15px
}

h4
{
    text-align: center;
}

h4  {
    color: grey;
    margin: 2px 5px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
}

h5 {
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: grey;
    padding-bottom: 22px;
}

.title {
    text-align: center;
    font-size: 25pt;
    overflow: hidden;
}

.under {
    text-align: center;
    font-size: 28pt;
}

.blogp {
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
}
