/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    padding: 15px 14px 8px 18px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
}

#menu {
    width: 27px;
    height: 30px;
    cursor: pointer;
    margin: 0 6px 0 2px;
    z-index: 20;
}

#lijn1 {
    transform: translateY(2px);
}

#lijn2 {
    transform: translateY(10px);
}

#lijn3 {
    transform: translateY(18px);
}

.change #lijn1 {
    transform: translateY(12px) rotateZ(-45deg);
}

.change #lijn2 {
    opacity: 0;
}

.change #lijn3 {
    transform: translateY(10px) rotateZ(45deg);
}

.bar {
    height: 1px;
    width: 20px;
    background-color: black;
    border-radius: 5px;
    transition: 0.5s ease;
}

.change .bar {
    background-color: blueviolet;
}

#lijst {
    padding: 20px;
}

ul.leftnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    z-index: 10;
    transform: translateY(-120%);
    transition: 0.3s ease;
    overflow: scroll;

}

ul.leftnav.change {
    transform: translateY(7%);
}


li {
    padding: 10px 0 20px 0;
}

li a {
    color: black;
    text-decoration: none;
    width: auto;
    font-size: 12pt;
    font-family: 'raleway';
    outline: none;
}

a::visited {
    color: purple;
}

a:focus {
    background: beige;
    color: darkcyan;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: dimgray;
}

a:active {
    color: indianred;
}

hr {
    width: 25%;
    margin: 15px 0 20px;
}

button {
    background-color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 40%;
}

button:hover {
    cursor: pointer;
    background-color: lightgrey;
    box-shadow: 1px 1px 3px purple;
}

button:focus {
    background-color: lightsteelblue;
    text-decoration: underline;
    border-style: dotted;
}

button:active {
    background-color: indianred;
}

#close {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

#zoekbalkje {
    width: 27px;
    height: 25px;
    cursor: pointer;
}

.zoekbalk {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateY(100%);
    transition: 0.2s ease;
    background: linear-gradient(to bottom,
            #ffffff 22%,
            rgba(255, 255, 255, 0.6) 22%);
}

#zoek {
    display: inline-flex;
    padding: 10px;
}

#men,
#women {
    padding: 9px;
    font-size: 14px;
    font-family: 'raleway';
    cursor: pointer;
}

#antwoord {
    border: 1px solid black;
    width: 21em;
    padding: 10px;
    margin: 4px;
    height: 42px;
    font-style: oblique;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    background-position: 19em;
}

.zoekbalk.changes {
    transform: translateY(7%);
}

.logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rightnav {
    display: inline-flex;
}

#rechternav {
    margin: 0 7px 0;
    padding: 0;
}

.tooltip .tooltiptext {
    position: absolute;
    text-align: center;
    font-family: 'raleway';
    background-color: grey;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px 23px 5px 5px;
    width: 80px;
    z-index: 30;
    top: 13px;
    margin-left: -75px;
    transition: opacity 0.5s;
    cursor: pointer;
    visibility: hidden;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
}

@keyframes bag {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.shop:hover {
    animation-name: bag;
    animation-duration: 1s;
}

main {
    padding: 10px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12.9pt;
    line-height: 1.4;
    padding-top: 4px;
    padding-bottom: 3px;
    order: 2;
}

p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 12.2pt;
    padding-bottom: 22px;
    color: #333333;
}

article {
    padding-bottom: 23px;
}

article a {
    text-decoration: none;
    color: black;
    outline: none;
    order: -9;
}

/*
article img {
    display: flex;
    order: -2;
}
*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

.container article {
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1px;
    grid-template-rows: min-content min-content;
    padding: 0.5em 0;
    margin-bottom: 30px;
}

.container article img {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    display: block;
}


.container article h1 {
    font-size: 8pt;
    justify-self: center;
    align-self: start;
    text-align: center;

}

.container p {
    font-size: 9pt;
    align-self: end;
    padding: 0;
}

.shopping {
    padding: 5px;
    display: inline-grid;
}

.shopping a {
    display: grid;
    margin-bottom: 30px;
    overflow: hidden;
}

.shopping img {
    padding: 9px;
}

footer {
    border-top: 1px solid lightgrey;
}

h2,
h3 {
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    margin: 13px;
    text-decoration: none;
    color: black;

}

form {
    text-align: center;
    font-size: 5pt;
}

input {
    width: 88%;
    padding: 8px;
    font-size: 8pt;
    color: darkgray;
}

.socials {
    text-align: center;
    padding-top: 14px;
}

.socials img {
    margin: 0 15px
}

h4 {
    color: grey;
    margin: 2px 5px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
}

h5 {
    font-size: 8pt;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: grey;
    padding-bottom: 22px;
}

h6 {
    text-decoration: none !important;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
}

.title {
    text-align: center;
    font-size: 25pt;
    overflow: hidden;
}

.under {
    text-align: center;
    font-size: 28pt;
}

.blogp {
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
}
